body {
  background-image: url('img_4.png');
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}


.custom-navbar {
  background-color: #474762;
}

.navbar-light .navbar-brand {
  color: #0d6efd;
}

.navbar-light .navbar-nav .nav-link {
  color: #0d6efd;

}

.dropdown-item {
  background-color: rgb(147, 228, 251);
}

h3 {
  color: whitesmoke;
  margin-right: 600px;
  text-align: right;
}

.fa-brands {
  font-size: 20px;
  margin-left: 10px;
}

.carousel-item img {
  height: 700px;
}

.carousel {
  width: 100%;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.carousel-caption h5 {
  font-size: 100px;
}

.carousel-caption p {
  font-size: 1.5em;
}

.footer {
  height: 50px;
  width: 100%;
  background-color: #474762;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  color: #0d6efd;
  z-index: 2;
}

#footer {
  color: whitesmoke;
}

.sub-navbar-icons {
  display: flex;
  align-items: center;
  color: #0d6efd;
}

.details {
  justify-content: space-between;
}

.collapse:not(.show) {
  display: flex;
}

@media (max-width: 2000px) {
  .navbar-expand-lg .navbar-collapse {
    display: none;
  }

}

.dropdown-menu {
  background-color: rgb(147, 228, 251);
}