
body {
  background-image: url('../Images/img_4.png');
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;

}

.custom-navbar {
  background-color: #474762;
}

.navbar-light .navbar-brand {
  color: #0d6efd;
}

.navbar-light .navbar-nav .nav-link {
  color: #0d6efd;

}
.sub-navbar-icons {
  display: flex;
  align-items: center;
  color: #0d6efd;
}

.dropdown-item {
  background-color:cornflowerblue;
}
.dropdown-menu {
  background-color: cornflowerblue;
}

h3 {
  color: whitesmoke;
  margin-right: 600px;
  text-align: right;
}


.fa-brands {
  font-size: 20px;
  margin-left: 10px;
}

.carousel-item img {
  height: 700px;
}

.carousel {
  width: 100%;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color:#836c02f5;
}

.carousel-caption h5 {
  font-size: 100px;
}

.carousel-caption p {
  font-size: 1.5em;
}

.footer {
  height: 50px;
  width: 100%;
  background-color: #474762;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  color: #0d6efd;
  z-index: 2;
}

.details {
  justify-content: space-between;
}


  .card {
    transition: transform 0.3s ease-in-out;
    height: 500px;
  }

  .card:hover {
    transform: scale(1.05); /* Adjust the scale factor for the desired zoom effect */
  }

  .card-img-top {
    transition: opacity 0.3s ease-in-out;
  }

  .card:hover .card-img-top {
    opacity: 0.8; /* Adjust the opacity level as needed */
  }

  .fs-1{
    font-style:italic; 
    color:gainsboro;
  
  }
  .fs-2{
    padding:15px;
    font-style: italic;
    color:darkslateblue;
    font-weight:bold;
  }


 .card-img-top {
   object-fit: cover;
   height: 60%; /* Adjust the image height within the card */
        }


      